.divModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}
.divContenido {
  background: white;
  width: 90%;
  max-width: 750px;
  height: 35rem;
  max-height: 50vh;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}
.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "img titulo titulo titulo"
    "img descripcion descripcion descripcion"
    "cantidad precio sumar restar";
  place-self: center;
  border: 3px solid black;
  width: 40rem;
  padding: 0.5rem;
  align-items: center;
}
.imgCarrito {
  grid-area: img;
  width: 5rem;
  height: 5rem;
  background-color: red;
}

.titulo {
  grid-area: titulo;
  background-color: yellow;
}

.descripcion {
  grid-area: descripcion;
  background-color: peru;
}

.cantidad {
  grid-area: cantidad;
  background-color: antiquewhite;
}

.precio {
  grid-area: precio;
  background-color: cadetblue;
}

.suma {
  grid-area: sumar;
  background-color: coral;
}

.resta {
  grid-area: restar;
  background-color: darkgreen;
}
